.boton {
  background-color: #4CAF50;;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
  text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;

}
.resta {
   background-color: #008CBA; /*Este lo sobreescribe el color de arriba*/
  }
  