<p [style.fontSize.px]="tamano">
  Hola mundo... esta es un etiqueta
</p>

<button type="button" class="boton" (click)="tamano = tamano + 5">
  +
</button>
<button type="button" class="boton resta" (click)="tamano = tamano - 5">
  -
</button>