<div class="container">
  <h1>Demo <small>Anglar</small></h1>
  <hr>

  <app-ng-style></app-ng-style>

  <app-css></app-css>

  <p>
    Hola mundo desde app.component
  </p>

  <app-clases></app-clases>
</div>