 <div [ngClass]="alerta"> <!--aqui tenemos una variable, que tiene por string lo que se usa en el css de este componente -->
  <strong>Saludos</strong> desde muy lejano
</div>

<button type="button" (click)="alerta = 'alerta advertencia'"  class="boton">Advertencia</button>
<button type="button" (click)="alerta = 'alerta error'" class="boton err">Error</button>

<h3 class= 'alerta' [ngClass]="{ 'error': propiedades.error, 'advertencia': !propiedades.error }">
  Como estas
</h3> <!--Se usa asi-->

<h3 [ngClass]="{ 'alerta error': propiedades.error, ' advertencia': !propiedades.error }">
  Como estas
</h3>  <!--No se usa asi-->

<button type="button" class="boton" (click)="propiedades.error = !propiedades.error" [ngClass]="{ 'danger': propiedades.error, 'err': !propiedades.error } ">Cambiar</button>

<br><br>

<h3>Proceso Asincrono</h3>

<button type="button" class="boton" (click)="ejecutar()" [disabled]="loading">
  <i class="fa" [ngClass]= " { 'fa-save': !loading, 'fa-spin fa-refresh': loading } "></i>
  <span *ngIf="!loading"> Guardar Cambios</span>
  <span *ngIf="loading"> Espere por favor...</span>
  
</button>